<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your OpenID:<br>
        {{form.openid(size=80)}}<br>
    <!-- 当字段验证失败的时候， Flask-WTF 会向表单对象中添加描述性的错误信息。
    这些信息是可以在模板中使用的，因此我们只需要增加一些逻辑来获取它。-->
        {% for error in form.openid.errors %}
            <span style="color: #ff876a;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>{{ form.remember_me }} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}