alembic==1.0.10
Babel==2.6.0
blinker==1.4
Click==7.0
coverage==4.5.3
decorator==4.4.0
defusedxml==0.6.0
Flask==1.0.3
Flask-Babel==0.12.2
Flask-Language==0.1.0
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-OpenID==1.2.5
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.0.11
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
pbr==5.2.0
PyMySQL==0.9.3
python-dateutil==2.8.0
python-editor==1.0.4
python3-openid==3.1.0
pytz==2019.1
six==1.12.0
SQLAlchemy==1.3.3
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
Werkzeug==0.15.4
Whoosh==2.7.4
WTForms==2.2.1
